* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.nav-bar {
  width: 100%;
  background-color: black;
  display:flex;
  justify-content: space-between;
  align-content: center;
}

.nav-links {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

.nav-links li {
  list-style-type: none;
  color: white;
  margin: 20px;
}

.nav-links a {
  color: white;
}

.nav-links li h1 {
  font-size: xxx-large;
  color: white;
}

.nav-button {
  background-color: teal;
  width: 135px;
  height: 40px;
  margin: auto;
}

.body-container {
  width: 70%;
  margin: 100px 218.5px;
  height: 900px;
  display: flex;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 20px;
}

.card-container {
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px 5px 0px 0px;
  margin: 0 auto;
}

.card-header {
  background-color: teal;
  height: 80px;
  border-radius: 3px 3px 0px 0px;
}

.card-body {
  height: 150px;
  padding: 25px 30px;
}

.imgUsuario {
  width: 60px;
  border: 2px solid lightgray;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 30px;
}

.icono {
  width: 10px;
  margin-right: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

p {
  margin-top: 0px;
}

.pEnlace {
  margin-top: 10px;
}

.pEnlace a {
  color: blue;
}

.education {
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px 5px 0px 0px;
  margin: 40px;
}

.education-header {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.education-header h2 {
  color: white;
  margin-left: 30px;
}

.education-body {
  height: 120px;
  padding: 25px 30px;
}

.education-body h1 {
  font-size: x-large;
}

p {
  margin: 10px;
}

.pFecha {
  color: gray;
}

.left-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.connection-requests {
  border: 1px solid gray;
}

.requests-header {
  background: black;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.requests-header h2 {
  font-size: large;
  display: flex;
}

.pDos {
  border: none;
  background-color: gray;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 3px;
}

.requests-body {
  display: flex;
  justify-content: center;
}

.requests-body img {
  width: 25px;
}

.requests-body li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.ul-requests {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.your-connections {
  border: 1px solid gray;
  margin-top: 40px;
}

.your-header {
  background: black;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.your-header h2 {
  font-size: large;
  display: flex;
}

.pQuinientos {
  background-color: gray;
  border-radius: 20px;
  width: 46px;
}

.your-body img {
  width: 25px;
  margin-right: 53px;
}

.your-body li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.ul-your {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foot-body {
  border-top: 1px solid gray;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.foot-body a {
  color: blue;
}